<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- page title heading -->
    <title>WEB322 Lab 2</title>
</head>
<body>
      <!-- outputing the dynamic server content -->
    <h1>{{name}} - {{course}} - {{time}}</h1>
</body>
</html>
